/*info: h1:sans-serif, */

/*SKABELON, GRUND STRUKTUR*/

body {
    position: relative;
    background-color: #EDEDED;
    background-repeat: no-repeat;
}

header {
    margin: 0;
    padding: 0;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#burger {
    flex-grow: 1;
    flex-basis: auto;
}

#fronterhvervskeatitle {
    flex-grow: 1;
    flex-basis: auto;
    font-family: arial;
    font-size: 1.2rem;
    text-align: center;
}

#mail {
    flex-grow: 1;
    flex-basis: auto;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-family: arial;
    font-size: 0.5rem;
}

#log_out {
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: arial;
}

/*SKABELON SLUT*/

/*SKEMA*/

#container_top {
    display: flex;
    justify-content: space-between;
    margin: 10vw;
}

.arrow {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    height: 6vw;
    width: 4vw;

}

.tidspunkt {
    font-family: arial;
    font-size: 1.2rem;
    margin: 0;
}

.arrow2 {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    height: 6vw;
    width: 4vw;

}

.kolonne {
    border: 1px solid white;
    margin: 2vw;
    padding: 2vw;
    background-color: #fffefe;
}

.kolonne_bottom {
    border: 1px solid pink;
    margin: 4vw;

    background-color: pink;
}

.kolonne_bottom {
    border: 1px solid pink;
    margin-top: 4vw;
    padding: 2vw;

    background-color: pink;
}

#container_top {
    display: flex;
    flex-grow: grow;
}

#container_bottom {
    flex-basis: 1;

}

/*AFLEVERING OVERSIGT*/

#afleveringer .kolonne {
    border: 1px solid white;
    margin: 2vw;
    background-color: #fffefe;
}

#afleveringer .tema {
    font-family: arial;
    font-size: 1.1rem;
    margin: 0;
}

#afleveringer .arrow_down {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    height: 6vw;
    width: 4vw;
    transform: rotate(90deg);
}

#afleveringer p {
    font-family: arial;
    font-size: 1.1rem;
    padding: 0 0 0 0.5rem;
}

#afleveringer .kolonne1 {
    background-color: #EA5045;
    font-weight: bold;
    position: relative;

}

#afleveringer .kolonne2,
#afleveringer .kolonne3,
#afleveringer .kolonne4,
#afleveringer .kolonne5,
#afleveringer .kolonne6,
#afleveringer .kolonne7,
#afleveringer .kolonne8 {
    position: relative;
}

#afleveringer .pil {
    position: absolute;
    top: 9vw;
    ;
    right: 3vw;
    ;
}


/*AFLEVERING BESKRIVELSE*/

/*jeg var nødt til at kalde til img elementet, ellers kunne jeg ikke gøre den mindre. Hvorfor? ved jeg ikke :-)*/
#afleveringer_beskrivelse .chain_ikon img {
    position: absolute;
    width: 8vw;
    height: 8vw;
    left: 78vw;
    top: 6vw;

}

#afleveringer_beskrivelse .pil_beskrivelse {
    position: absolute;
    top: 5vw;
    right: 3vw;
}

#afleveringer_beskrivelse .kolonne5_2 {
    height: 50vw;
}

#afleveringer_beskrivelse .statistik_ikon {
    position: absolute;
    width: 8vw;
    height: 8vw;
    left: 78vw;
    top: 5vw;
}

#afleveringer_beskrivelse .kolonne {
    border: 1px solid white;
    margin: 2vw;
    background-color: #fffefe;
}

#afleveringer_beskrivelse .tema {
    font-family: arial;
    font-size: 1.1rem;
    margin: 0;
}

#afleveringer_beskrivelse .arrow_down {
    background-image: url(billeder/arrow.svg);
    background-repeat: no-repeat;
    height: 6vw;
    width: 4vw;
    transform: rotate(90deg);
}

#afleveringer_beskrivelse p {
    font-family: arial;
    font-size: 1.1rem;
    padding: 0 0 0 0.5rem;
}

#afleveringer_beskrivelse .kolonne1 {
    background-color: #EA5045;
    font-weight: bold;
    position: relative;

}

#afleveringer_beskrivelse .kolonne2,
#afleveringer_beskrivelse .kolonne3,
#afleveringer_beskrivelse .kolonne4,
#afleveringer_beskrivelse .kolonne5,
#afleveringer_beskrivelse .kolonne6,
#afleveringer_beskrivelse .kolonne7,
#afleveringer_beskrivelse .kolonne8 {
    position: relative;
}
